img{
    width: 400px;
    height: 400px;
    
}
body{
    background: burlywood;
    text-align: center;
    font-size: 10px;
}
p1{
   font-weight: bold;
}
p3{
   text-indent: 50px; 
}
p4{
   text-indent: 50px;
}
